ul#bottles {
	position: relative;
	height: 250px;
	width: 500px;
	margin: 0 auto;
}

ul#bottles li {
	display: block;
	position: relative;
	float: left;
	width: 100px;
	height: 200px;
	background-image: url('../img/gamebottle_empty.png');
	background-size: cover;
	background-position: bottom center;
}

ul#bottles li div {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-image: url('../img/gamebottle_filled.png');
	background-size: cover;
	background-position: bottom center;
	transition: all 0.12s linear;
}

ul#bottles li span {
	position: absolute;
	bottom: -30px;
	left: 0px;
	width: 100%;
	text-align: center
}

div#instructions {
	text-align: center;
}

#instructions p {
	font-size: 1.8em;
	line-height: 1.2;
	text-transform: uppercase;
}

div#start {
	text-align: center;
}

div#ingame {
	text-align: center;
}

div#gameover {
	text-align: center;
}

#winner p span {
	border: 5px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
	display: inline-block;
	height: 70px;
	width: 70px;
}

#winner p ~ p {
	font-size: 0.5em;
	line-height: 1.2;
}

.win {
	color: #fff;
	-webkit-animation-name: flash-winner;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill: both;
}

@-webkit-keyframes flash-winner {
  from {
    text-shadow: 0 0 8px rgba(0,0,0,0.25);
  }
  to {
  	color: rgba(255,255,255,0.25);
    text-shadow: 0 0 24px rgba(255,255,255,1);
  }
}

.blink {
	-webkit-animation-name: blink;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 0.18s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


h1 {
	font-size: 600%;
}
h2 {
	font-size: 500%;
}
h3 {
	font-size: 400%;
}
h4 {
	font-size: 300%;
}

ul#bottles .player-badge {
	background: none;
	border: 5px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
	bottom: -80px;
	height: 50px;
	left: 25px;
	width: 50px;
}